img{
  display: inline;
}
.small-image {
  width: 15vw;
}

.large-image {
  width: 25vw;
}

  .img-thumbnails {
    display: inline-block;
    width: 100vw;
}

.ng-invalid.ng-dirty {
  border-color: #FA787E;
}

.ng-valid.ng-dirty {
  border-color: #78FA89;
}
